<!DOCTYPE html>
<html lang="en">
    <head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<style>
body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

.mySlides {display: none}



.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
    width: 100%;
  }
  

}
.star-rating {
  line-height:32px;
  font-size:1.25em;
}
.star-rating .fa-star{color: yellow;}
</style>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<body>

<!-- Navbar -->
<!-- <div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BAND</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TOUR</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item  w3-button">Merchandise</a>
        <a href="#" class="w3-bar-item w3-button">Extras</a>
        <a href="#" class="w3-bar-item w3-button">Media</a>
      </div>
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div> -->

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<!-- <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BAND</a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TOUR</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a>
</div> -->


<!-- Page content -->

  

<div class="container">
    <div class="main-body">
    

          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{website.image.url}}" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{website.name}}</h4>
                      <p class="text-muted font-size-sm">{{website.location}}</p>
                      <button class="btn btn-primary">Follow</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website URL</h6>
                    <span class="text-secondary">{{website.name }}/</span>
                  </li>
                  <!-- <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                    <span class="text-secondary">bootdey</span>
                  </li> -->
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                    <span class="text-secondary">{{website.twitter }}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book mr-2 icon-inline text-info" viewBox="0 0 16 16">
                        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                      </svg>Wiki</h6>
                    <span class="text-secondary">{{website.wiki }}</span>
                  </li>
                  <!-- <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                    <span class="text-secondary">bootdey</span>
                  </li> -->
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Overall  Credibility</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{website.average }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Media Credibility</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{website.average_entertainment }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Information  Credibility</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{website.average_fact }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">News  Credibility</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{website.average_media }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Last  Change</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     Increased by 2%
                    </div>
                  </div>
                </div>
              </div>
              <div class="row gutters-sm" >
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body" >
                     
                                <span class="heading-1"><h4><label id="typeName"></label> User Rating</h4></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <p ><label id='average'>4.1</label> average based on <label id='review'>4.1</label> reviews.</p>
                                <hr style="border:3px solid #f1f1f1">

                                <div class="row" style="padding-left: 15px;padding-right: 15px;">
                                <div class="side">
                                    <div>5 star</div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                    <div class="bar-5"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div><label id = "5">150</label></div>
                                </div>
                                <div class="side">
                                    <div>4 star</div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                    <div class="bar-4"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <label id = "4">150</label>
                                </div>
                                <div class="side">
                                    <div>3 star</div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                    <div class="bar-3"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div><label id = "3">150</label></div>
                                </div>
                                <div class="side">
                                    <div>2 star</div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                    <div class="bar-2"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div><label id = "2">150</label></div>
                                </div>
                                <div class="side">
                                    <div>1 star</div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                    <div class="bar-1"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div><label id = "1">150</label></div>
                                </div>
                                </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <div class="card h-100">
                      <div class="card-body">
                        <h4 class="d-flex align-items-center mb-3">Your Rating</h4>
                          <div class="form-group row p-2" >
                            <div class="container">
                                <div class="row">
                                  <div class="col-lg-12">
                                    <form class="example"  method="post" style="padding: 10px;align-items: center;">
                                        {% csrf_token %}
                                        <div class="star-rating">
                                      <span class="fa fa-star-o" data-rating="1"></span>
                                      <span class="fa fa-star-o" data-rating="2"></span>
                                      <span class="fa fa-star-o" data-rating="3"></span>
                                      <span class="fa fa-star-o" data-rating="4"></span>
                                      <span class="fa fa-star-o" data-rating="5"></span>

                                        <input type="hidden" action='.' name="rating" class="rating-value">
                                        <input type="hidden" action='.' name="search" value={{website.name}}>
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Example select</label>
                                            <select class="form-control" id="mySelect" name="type" onchange="changeCatogory()">
                                              <option  value="News">News</option>
                                              <option  value="Entertainment">Entertainment</option>
                                              <option  value="Fact">Fact</option>
                                            </select>
                                          </div>
                                        <label for="exampleFormControlTextarea1">Review</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" name="comment" rows="3"></textarea>
                                        <button type="submit" class="btn btn-primary m-3">Submit</button>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              
                        </div>
                          
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        var $star_rating = $('.star-rating .fa');
        
            var SetRatingStar = function() {
              return $star_rating.each(function() {
                if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
                  return $(this).removeClass('fa-star-o').addClass('fa-star');
                } else {
                  return $(this).removeClass('fa-star').addClass('fa-star-o');
                }
              });
            };
            
            $star_rating.on('click', function() {
              $star_rating.siblings('input.rating-value').val($(this).data('rating'));
              return SetRatingStar();
            });
            
            SetRatingStar();
            $(document).ready(function() {
            
            });
            window.onload =function(){
                changeCatogory()

            };
            

            function changeCatogory(){
                var x=document.getElementById("mySelect").value;
                var bar1=document.getElementsByClassName('bar-1')
                var bar2=document.getElementsByClassName('bar-2')
                var bar3=document.getElementsByClassName('bar-3')
                var bar4=document.getElementsByClassName('bar-4')
                var bar5=document.getElementsByClassName('bar-5')
                console.log(x)
                if(x.localeCompare('News')==0){
                    var five=Number("{{five.0}}")
                    var four=Number("{{four.0}}")
                    var three=Number("{{three.0}}")
                    var two=Number("{{two.0}}")
                    var one=Number("{{one.0}}")
                    var sum=five+four+three+two+one
                    five=(five/sum)*100
                    four=(four/sum)*100
                    three=(three/sum)*100
                    two=(two/sum)*100
                    one=(one/sum)*100
                    document.getElementById("1").innerHTML="{{one.0}}";
                    document.getElementById("2").innerHTML="{{two.0}}";
                    document.getElementById("3").innerHTML="{{three.0}}";
                    document.getElementById("4").innerHTML="{{four.0}}";
                    document.getElementById("5").innerHTML="{{five.0}}";
                    document.getElementById('average').innerHTML="{{website.average_media}}"
                    document.getElementById('review').innerHTML=sum
                    document.getElementById('typeName').innerHTML="News"
                    bar1[0].style.width=one.toString()+'%'
                    bar2[0].style.width=two.toString()+'%'
                    bar3[0].style.width=three.toString()+'%'
                    bar4[0].style.width=four.toString()+'%'
                    bar5[0].style.width=five.toString()+'%'
                    var elements = document.getElementsByClassName('fa');
                    for (i = 1; i <=Math.floor(Number("{{website.average_media}}")); i++) {
                        elements[i-1].classList.add("checked")
                    }
                    for (i = Math.floor(Number("{{website.average_media}}"))+1; i <=5; i++) {
                        elements[i-1].classList.remove("checked")
                    }

                }
                else if(x.localeCompare('Fact')==0){
                    var five=Number("{{five.2}}")
                    var four=Number("{{four.2}}")
                    var three=Number("{{three.2}}")
                    var two=Number("{{two.2}}")
                    var one=Number("{{one.2}}")
                    var sum=five+four+three+two+one
                    five=(five/sum)*100
                    four=(four/sum)*100
                    three=(three/sum)*100
                    two=(two/sum)*100
                    one=(one/sum)*100
                    document.getElementById("1").innerHTML="{{one.2}}";
                    document.getElementById("2").innerHTML="{{two.2}}";
                    document.getElementById("3").innerHTML="{{three.2}}";
                    document.getElementById("4").innerHTML="{{four.2}}";
                    document.getElementById("5").innerHTML="{{five.2}}";
                    document.getElementById('average').innerHTML='{{website.average_fact }}'
                    document.getElementById('review').innerHTML=sum
                    document.getElementById('typeName').innerHTML="Fact"
                    bar1[0].style.width=one.toString()+'%'
                    bar2[0].style.width=two.toString()+'%'
                    bar3[0].style.width=three.toString()+'%'
                    bar4[0].style.width=four.toString()+'%'
                    bar5[0].style.width=five.toString()+'%'
                    var elements = document.getElementsByClassName('fa');
                    var elements = document.getElementsByClassName('fa');
                    for (i = 1; i <=Math.floor(Number("{{website.average_fact}}")); i++) {
                        elements[i-1].classList.add("checked")
                    }
                    for (i = Math.floor(Number("{{website.average_fact}}"))+1; i <=5; i++) {
                        elements[i-1].classList.remove("checked")
                    }

                }
                else{
                    var five=Number("{{five.1}}")
                    var four=Number("{{four.1}}")
                    var three=Number("{{three.1}}")
                    var two=Number("{{two.1}}")
                    var one=Number("{{one.1}}")
                    var sum=five+four+three+two+one
                    five=(five/sum)*100
                    four=(four/sum)*100
                    three=(three/sum)*100
                    two=(two/sum)*100
                    one=(one/sum)*100
                    document.getElementById("1").innerHTML="{{one.1}}";
                    document.getElementById("2").innerHTML="{{two.1}}";
                    document.getElementById("3").innerHTML="{{three.1}}";
                    document.getElementById("4").innerHTML="{{four.1}}";
                    document.getElementById("5").innerHTML="{{five.1}}";
                    document.getElementById('average').innerHTML="{{website.average_entertainment}}"
                    document.getElementById('review').innerHTML=sum
                    document.getElementById('typeName').innerHTML="Entertainment"
                    bar1[0].style.width=one.toString()+'%'
                    bar2[0].style.width=two.toString()+'%'
                    bar3[0].style.width=three.toString()+'%'
                    bar4[0].style.width=four.toString()+'%'
                    bar5[0].style.width=five.toString()+'%'
                    var elements = document.getElementsByClassName('fa');
                    var elements = document.getElementsByClassName('fa');
                    for (i = 1; i <=Math.floor(Number("{{website.average_entertainment}}")); i++) {
                        elements[i-1].classList.add("checked")
                    }
                    for (i = Math.floor(Number("{{website.average_entertainment}}"))+1; i <=5; i++) {
                        elements[i-1].classList.remove("checked")
                    }
                }
            }
            
            </script>
  </body>
</body>
</html>
